---
title: Crystal 1.0 Conference
---

<div class="conference-session-list">
  {% for session in site.data.conference_talks %}
    {% if session["Session type"] == "Long Break" %}
    {% else %}
      {% if session["Start time"] != lastStartTime %}
        {% if lastStartTime %}
      </div>
    </div>
          {% if session["Start time"] != lastEndTime %}
    <div class="conference-sessions-break">Break</div>
          {% endif %}
        {% endif %}
    <div class="conference-slot">
      <div class="conference-slot-info">
        <time class="local-time" datetime="2021-07-08T{{ session["Start time"] }}+00:00" title="2021-07-08 {{ session["Start time"] }} UTC">{{ session["Start time"] }}</time>
      </div>
      <div class="conference-slot-inner">
      {% endif %}
      {% assign lastStartTime = session["Start time"] %}
      {% assign lastEndTime = session["End time"] %}
      <div class="conference-session">
        <h3>
          <span class="conference-track conference-track--{{ session["Room"] | slugify }}">{{ session["Room"] }}:</span>
          {{ session["Presenter"] }}: {{ session["Talk title"] }}
          {% if session["Theme"] %}
            <span class="theme theme--{{ session["Theme"] | slugify }}">{{ session["Theme"] }}</span>
          {% endif %}
        </h3>

        {% if session["Speaker picture"] %}
          {% assign parts = session["Speaker picture"] | split: ' (' %}
          {% assign parts = parts[1] | split: ')' %}
          <img class="speaker-image" src="{{ parts[0] }}" />
        {% endif %}

        <p class="session-summary">
          {{ session["Abstract"] | markdownify }}
        </p>

        {% if session["Link"] %}
          <p class0"session-link">
            <a href="{{ session["Link"] }}">{{ session["Link"] }}</a>
          </p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
      </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var locale = "default";
  var options = {
    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',
    hour: 'numeric', minute: 'numeric', timeZoneName: 'short'};
  var titleFormat = new Intl.DateTimeFormat(locale, options);
  var textFormat = new Intl.DateTimeFormat(locale, {hour: "numeric", minute: "numeric"});

  document.querySelectorAll("time.local-time").forEach(function(elem){
    var date = new Date(elem.dateTime);
    elem.innerHTML = textFormat.format(date) + " <small>(" + textFormat.resolvedOptions().timeZone + ")</small>";
    elem.title = titleFormat.format(date);
  })
})
</script>
