<div class="conference-session">
  <div class="session-info">
    <time class="local-time" datetime="2021-07-08T{{ session.start }}+00:00" title="2021-07-08 {{ session.start }} UTC">{{ session.start }}</time>
    <span class="track-{{ include.track }}">Track {{ include.track }}</span>
  </div>
  <div class="session-body">
    <h3>{{ session.title }}</h3>
    {% if session.summary %}
      <p class="session-summary">
        {{ session.summary }}
      </p>
    {% endif %}
    <div class="speakers">
      {% if session.speaker[0] %}
        {% for speaker in session.speaker %}
          {% include conference_speaker.html %}
        {% endfor %}
      {% else %}
        {% assign speaker = session.speaker %}
        {% include conference_speaker.html %}
      {% endif %}
    </div>
  </div>
</div>
