.highlight {
  span.nb {
    color: #e45546;
  }
  span.s2,
  span.si {
    color: #51a24d;
  }
  span.nf {
    color: #4f72b7;
  }
  span.k {
    color: #9f3d96;
  }
  span.no {
    color: #000000;
  }
  span.mi {
    color: #976b29;
  }

  &.console {
    span.type {
      color: goldenrod;
    }
    span.marker {
      color: darkseagreen;
    }
  }

  code.language-javascript {
    span.nx,
    span.err {
      color: #e45546;
      background-color: white;
    }
    span.kr {
      color: #4f72b7;
    }
    span.mi {
      color: #9f3d96;
    }
    span.kd,
    span.k {
      color: #51a24d;
    }
    span.s2 {
      color: #4d70b6;
    }
  }
}
