// Colors
// --------------------------------------------------
$white: #ffffff;
$black: #000000;
$primary-text: #777777;
$separator: #ebebeb;
$light-gray: #d7d7d7;
$lighter-gray: #cccccc;
$chart: $lighter-gray;

// Fonts
// -----------
$sans: "Roboto", Arial, Helvetica, sans-serif;
$codeFont: "Roboto Mono", monospace;
