article {
  padding: 50px 0;

  header {
    padding-top: 0;
    width: 100%;

    h2 {
      font: normal 24px/30px var(--sans);
      color: var(--light-gray);
      margin: 0 0 0 40px;
    }
    a {
      padding: 0 0 0 40px;
      font: normal 18px/30px var(--sans);
      text-decoration: none;
    }
  }
  p {
    color: var(--light-gray);
    a {
      color: #000;
      text-decoration: underline;
    }
  }
}


.team-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  max-width: 49em;
  margin: auto;

  > picture {
    &, > img {
      border-radius: 50%;
    }

    &:nth-child(2n+1) {
      transform: scale(110%);
    }
    &:nth-child(2n) {
      transform: translateY(-50%);
    }
    &:nth-child(3n) {
      transform: scale(80%) translateY(-20%) ;
    }
    &:nth-child(4n) {
      transform: scale(95%) translateY(-40%);
    }
  }
}

.events-list {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));

  > article {
    flex-basis: 20em;
    flex-grow: 1;
    padding: 0;

    h3 {
      margin: 1em 0 .5em;
    }

    .meta {
      color: var(--light-gray);
      * + *::before {
        content: " | "
      }
    }
  }
}
