.conference-session-list {
  display: flex;
  flex-direction: column;

  .conference-slot {
    .conference-slot-inner {
      display: flex;
      flex-wrap: wrap;
    }

    .conference-session {
      padding: 1em;
      flex-basis: 0;
      flex-grow: 1;
      min-width: 35em;
      max-width: 45em;

      :first-child:last-child {
        max-width: 65em;
      }
    }
  }

  .conference-sessions-break {
    font-size: 2rem;
    color: #bbb;
    margin: 1rem;
    text-transform: uppercase;
  }
}

.conference-slot-info {
  flex-basis: 100%;
  margin: 0 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;

  ::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 1.7em;
    margin-top: -1.7em;
    background-color: rgba(0,0,0,3%);
  }

  time > small {
    font-size: inherit;
    font-weight: normal;
  }
}

.conference-session {
  &::after {
    content: "";
    display: block;
    clear: both;
  }

  > h3 {
    margin: 0;
    font-size: 1.4rem;

    .conference-track {
      color: $primary-text;

      &--main {
        display: none;
      }
    }
  }

  > p {
    margin-top: .5em;
  }
}

.speaker {
  .github_handle {
    font-size: 1rem;
    i {
      transform: scale(0.7);
      opacity: 0.6;
      margin-right: -5px;
      margin-top: -3px;
    }
  }
}

.speaker-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 10px;
  float: left;

  @include border-radius(50%);
}

.theme {
  border-radius: 3px;
  padding: 1px 5px;
  color: #f4f4f4;
  font-size: 1rem;
  vertical-align: text-top;

  background-color: hsl(0, 0, 50);

  &--getting-started {
    background-color: hsl(50, 60, 50);
  }
  &--language {
    background-color: hsl(0, 0, 20);
  }
  &--scientific {
    background-color: hsl(180, 60, 50);
  }
  &--ecosystem {
    background-color: hsl(120, 60, 50);
  }
  &--performance {
    background-color: hsl(320, 60, 50);
  }
  &--industry {
    background-color: hsl(260, 60, 50);
  }
}
