---
title: External resources
description: >
  <p>Here is a collection of learning material from third parties that might help you master the language.</p>
css: community
---
<div class="container">

{% include community_row.html
  title="Crystal Programming"
  divId="crystalProgramming"
  content="Crystal Programming is a project-based book by George Dietrich and Guilherme Bernal that covers all the fundamental concepts needed to start programming in Crystal, such as OOP and concurrent programming."
  link_text="Crystal Programming"
  url="./crystal_programming.html"
  icon="api_docs"
%}

{% include community_row.html
  title="Crystal for Rubyists"
  divId="crystal4Rubyists"
  content="If you know Ruby, you are just a few steps from learning Crystal. From Core Team Member and Kemal creator Serdar Dogruyol comes this guide that will help you to transition from Ruby to Crystal."
  link_text="Crystal for Rubyists"
  url="https://www.crystalforrubyists.com/"
  icon="api_docs"
%}

{% include community_row.html
  title="Exercism Crystal track"
  divId="exercism"
  content="Get your hands on Crystal with a series of exercises, and compare your solution to that of the many members who tried already."
  link_text="exercism/crystal"
  url="https://exercism.org/tracks/crystal/"
  icon="link"
  continues="true"
%}

https://code-maven.com/slides/crystal/


<section>
  <div class="links">
    <h2>Selected resources</h2>
    <div>
      <a class="ico left shuttle" href="https://podcast.chicagocrystal.org/1030945/3777812-ary-borenszweig-origins-of-crystal">Chicago Crystal: Ary Borenszweig: Origins of Crystal</a>
      <p class="light">2020-05-15</p>
    </div>
    <div>
      <a class="ico left shuttle" href="https://twitter.com/sw_unscripted/status/1512434388889387011">Software Unscripted: Crystal with Johannes Müller and creator Ary Borenszweig</a>
      <p class="light">2022-04-08</p>
    </div>
    <div>
      <a class="ico left shuttle" href="https://www.infoq.com/news/2021/04/crystal-ruby-c-release-1/">InfoQ: Crystal Language That Aims at C Performance with Ruby Syntax Releases 1.0 </a>
      <p class="light">2021-04-01</p>
    </div>
    <div>
      <a class="ico left shuttle" href="https://www.heise.de/news/Programmiersprache-Crystal-erfolgreich-auf-Version-1-0-gezuechtet-5995646.html" lang="de">heise.de: Programmiersprache: Crystal erfolgreich auf Version 1.0 gezüchtet</a> (DE)
      <p class="light">2021-03-23</p>
    </div>
    <div>
      <a class="ico left shuttle" href="https://www.infoq.com/articles/crystal-ruby-c-compiled-typed/">InfoQ: Compiled, Typed, Ruby-Inspired Crystal Language is Ready for Production - Q&A with Beta Ziliani </a>
      <p class="light">2021-05-08</p>
    </div>
    <div>
      <a class="ico left shuttle" href="https://www.sitepoint.com/a-quick-dive-into-the-crystal-programming-language/">Sitepoint: A Quick Dive into the Crystal Programming Language</a>
      <p class="light">2016-07-16</p>
    </div>
  </div>
</section>

</div>
